<!DOCTYPE html>
<html>
  <head>
    <title>Fach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id='header'>
      <div class="card-panel header_nav">
        <div class='row'>
          <div class='header_log col s1 m1' >
            <%= image_tag("/fach-logo-43.png", :size => "100x50", :alt => "アイコン") %>
          </div>
          <div class='col s10 m10'></div>
          <%= javascript_pack_tag 'application' %>
            <% if (session[:user_id]).nil? %>
              <%= react_component("LoginMenu",{ csrf_params: request_forgery_protection_token, csrf_token: form_authenticity_token }) %>
            <% else %>
              <%= react_component("AppHeader") %>
            <% end %>
        </div>
      </div>
    </div>
    <p><%= h(flash[:danger]) %></p>
    <%= yield %>
  </body>
</html>
